@media only screen and (max-width: 600px) {
    .mail {
        display: none;
    }
    .FirstLayerContainer {
        padding: 0px 10px;
    }
}

.FirstLayerContainer div a {
    color: rgb(115, 142, 142);
}
