
.categoryCard{
    opacity: 1;
}

.categoryCardImg{
    opacity: 1;
    transition: .5s ease-out;
}

.categoryCardFooter {
    display: none;
    opacity: 0;
    transition: opacity .5s ease-out;
    
}

.categoryCard:hover .categoryCardFooter {
    opacity: 1;
    display: block;
}

.categoryCard:hover .categoryCardImg {
    opacity: .5;
    
}
